
/*-----------------------------------------------------------------------------------

	Custom style sheet to override other styles that I want to change. NLG
-----------------------------------------------------------------------------------*/
/*!
// Contents
// ------------------------------------------------>

  1.  Global Styles
 2.  Typography
 3.	 Blockquotes
 4.	 List
 5.	 Colors
 6.	 Hepers
 7.	 Background
 8.	 Buttons
 9.	 Forms
 10. Icons
 11. Media
 12. Tabs
 13. Accordions
 14. Heading
 15. Page Title
 16. Pagination
 17. Columns
 18. Alerts
 19. Backtop
 20. Social
 21. Loading
 22. Header
 23. Menu
 24. Hero
 25. shortcode
 26. Team
 27. Testimonial
 28. Services
 29. Portfolio
 30. Feature
 31. Call To Action
 32. Counter
 33. Pricing Tables
 34. Blog
 35. Shop
 36. Contact
 37. Sidebar
 38. Footer
 39. 404
 40. Soon
 41. Maintenance
 42. faQs
 43. Login
 44. Process
 45. Clients
 46. Skills
 47. Landing
 48. Side Nav
 49. Layout Boxed
 50. Layout Split


 /*
NOTES! QUICK SEARCH IN THIS FIKE!

To make it easy to search about class or section, you do not need scroll in this file. Instead use 
use [ CTR + F ] and type [ SECTION NAME ] or [ .class-name ] You can find it quickly and save your time. You have been noted! :)
*/
/*------------------------------------*\
    #RESET
\*------------------------------------*/

/*changing body text from droid serif to poppins*/

body {
	background-color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 16x;
	font-weight: 400;
	color: #9b9b9b;
	line-height: 1.5;
	margin: 0;
}

/* changes painting description under Latest works*/
.portfolio .portfolio-cat {
	color: #9b9b9b;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
	position: relative;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
/* changing link colour from grey to white maybe... */
.portfolio .portfolio-cat a {
	color: #faf8f8;
}
/* changed font from serif to a sans serif one. This is for Story description*/
p {
	font-family: 'Poppins', sans-serif;
	color: #616161;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.about-4 .about-content p {
	margin-bottom: 10px;
	font-size: 16px;
	font-style: normal;
	line-height: 23px;
}
/* changed size - increased size of Story headline*/
.about-4 .about-icon h6 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	padding-top: 22px;
	padding-left: 11px;
	position: relative;
}
/* changed font from serif to a sans serif one. This is for latest works description*/
.heading p {
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 23px;
	margin-bottom: 0;
}
/* changed slider info from serif to sans serif.*/
.slider .slide--bio {
	color: #252525;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	line-height: 26px;
}
/* changing font to sans serif font from droid serif to poppins */
.text-font-body {
	font-family: 'Poppins';
}
/*change footer from droid serif to poppins*/
.footer-info-widget p {
	font-family: 'Poppins';
	font-style: normal;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 0;
}
/*changed colour of statement to less dark grey*/
.footer-info-widget .bio-info p {
	color: #9b9b9b;
	font-size: 16px;
	font-style: normal;
	max-width: 510px;
	display: inline-block;
}
/*footer widget get in touch font change*/
.footer-widget h3 {
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 1;
	text-align: center;
	margin-bottom: 17px;
}
/* By Nici text in blog space - from italics to normal*/
.entry .entry-meta {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 26px;
	color: #9b9b9b;
	margin-bottom: 26px;
}
/*------------------------------------*\
    #HEADING
\*------------------------------------*/
.heading .subheading {
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
	margin-bottom: 19px;
}

.heading p {
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 23px;
	margin-bottom: 0;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
::selection {
	background: #ad4a36;
	color: #ffffff;
}
::-moz-selection {
 background: #ad4a36;
  /* Firefox */
  color: #ad4a36;
}
::-webkit-selection {
 background: #ad4a36;
  /* Safari */
  color: #ffffff;
}

html {
	font-size: 16px;
}

body {
	background-color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #616161;
	line-height: 1.5;
	margin: 0;
}

.wrapper {
	background-color: #ffffff;
	padding: 0 80px;
	overflow-x: hidden;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 991px) {

.wrapper {
	padding: 0;
}
}

a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #ad4a36;
}

a:hover {
	color: #ad4a36;
	text-decoration: none;
}

a:focus {
	color: #ad4a36;
	text-decoration: none;
}

a:active {
	color: #ad4a36;
	text-decoration: none;
}

/* filter categories labeling styling */
portfolio .portfolio-filter a {
	color: #333;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	text-transform: capitalize;
	margin-right: 40px;
	padding-bottom: 10px;
	display: block;
	position: relative;
}
 /* attempting to add pinch zoom and browser handling of zoom */
 #element {
 touch-action: auto
 }

 .shop {
	padding-bottom: 0px !important;
}
/*Blog paragraph text */
.entry .entry-content p {
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-style: normal;
}

.shop-filter {
	padding-top: 10px !important;
    padding-bottom: 0px !important;
}


